<!DOCTYPE html>
<html>
    <head>
        <title>Jawaban Soal D</title>
        <style>
        body { font-family: Arial; margin: 40px; }
        img { max-width: 900px; margin-bottom: 40px; }
    </style>
    </head>
    <body>

        <a href="/">⬅ Kembali ke Beranda</a>

        <h1>Jawaban Soal D – Visualisasi Data</h1>

        <h2>20. Jumlah Penderita DM per Kabupaten/Kota (2019)</h2>
        <img src="/static/images/bar_2019.png">

        <h2>21. Total Penderita DM Jawa Barat per Tahun</h2>
        <img src="/static/images/line_total_tahun.png">

        <h2>22. Top 10 Kabupaten/Kota dengan Penderita DM Tertinggi (2019)</h2>
        <img src="/static/images/top10_2019.png">

        <h2>23. Proporsi Penderita DM berdasarkan Kategori (2019)</h2>
        <img src="/static/images/pie_kategori_2019.png">

        <h2>24. Perbandingan Total Penderita DM (3 Tahun Terakhir)</h2>
        <img src="/static/images/bar_3tahun.png">

        <h2>25. Analisis</h2>
        <p>
            a. Kabupaten/kota dengan jumlah penderita DM tertinggi terlihat
            konsisten berada di wilayah dengan populasi besar,
            terutama pada tahun 2019 dan beberapa tahun lainnya.
        </p>

        <p>
            b. Secara umum, total jumlah penderita DM di Jawa Barat menunjukkan
            tren yang cenderung meningkat dari tahun ke tahun.
        </p>

        <p>
            c. Berdasarkan kategori, sebagian besar kabupaten/kota berada pada
            kategori Sedang hingga Tinggi,
            menunjukkan bahwa DM merupakan masalah kesehatan yang cukup serius.
        </p>

    </body>
</html>
